@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
textarea {
  outline: none;
  resize: none;
}

.notes-list {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: 0;
}

.app-header__title {
  margin: 10px 20px 0px;
  font-family: "Bungee Shade", cursive;
  font-size: 50px;
  align-content: center;
}

.app-header__controls {
  display: flex;
  align-items: center;
  margin: 10px 0 0 10px;
}

.search,
.add-new {
  font-size: 14px;
  padding: 5px;
  margin: 8px;
}

.search {
  flex-grow: 1;
  max-width: 300px;
}

.add-new {
  border-radius: 5px;
  cursor: pointer;
  padding: 8px;
  font-weight: bolder;
  background-color: #eee;
  outline: none;
}

.note {
  font-family: "Permanent Marker", cursive;
  width: 300px;
  height: 300px;
  margin: 10px;
  background-color: lightyellow;
  border: 1px solid grey;
  box-shadow: 2px 2px 3px lightgrey;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.note__title,
.note__description {
  font-family: "Permanent Marker", cursive;
  width: 100%;
  padding: 8px 14px;
  background: transparent;
}

.note__title {
  font-size: 16px;
  font-weight: bold;
}

.note__description {
  flex-grow: 1;
  font-size: 14px;
}

.note__delete {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 20px;
  color: lightgrey;
  padding: 5px;
}

.note__delete:hover {
  color: black;
  cursor: pointer;
}

#sticky-note {
  background-color: lightyellow;
}

#sticky-note textarea {
  border: none;
  margin: 0;
  resize: none;
  background-color: lightyellow;
}

#sticky-note button {
  background-color: lightyellow;
  color: grayscale;
  border: 2px solid;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Permanent Marker", cursive;
}

select {
  border-radius: 5px;
  cursor: pointer;
  padding: 8px;
  margin: 20px;
  font-weight: bolder;
  background-color: #eee;
  outline: none;
  border: 2px solid;
}
